/src/Slums.Application/bin
/src/Slums.Application/obj
/src/Slums.Core/bin
/src/Slums.Core/obj
/src/Slums.Game/bin
/src/Slums.Game/bin
/src/Slums.Game/bin
/src/Slums.Infrastructure/obj
/src/Slums.Narrative.Ink/bin
/tests/Slums.Application.Tests/bin
/tests/Slums.Core.Tests/bin
/tests/Slums.Infrastructure.Tests/bin
/tests/Slums.Narrative.Ink.Tests/bin
/tests/Slums.Narrative.Ink.Tests/obj
/tests/Slums.Infrastructure.Tests/obj
/tests/Slums.Application.Tests/obj
/src/Slums.Narrative.Ink/obj
/src/Slums.Game/obj
/src/Slums.Game/obj
/tests/Slums.Core.Tests/obj
/src/Slums.Infrastructure/bin
